<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1,
            shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>CDWL</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
            rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <link
            href="//db.onlinewebfonts.com/c/a082fd3df68a0b54e0d4d794bc38d268?family=Blender+Pro"
            rel="stylesheet"
            type="text/css" />
        <script type="text/javascript" src="js/scripts.js"></script>
    </head>

    <body>

    </div>
    <header class="moj1">
        <div class="always-on-screen-2"></div>
        <a href="https://discord.gg/D8D5vCdAzx"><button class="button-1"
                style="margin-right:15vw; background-image:
                url('/assets/icons/facebook.svg');"></button></a>

        <a href="https://discord.gg/D8D5vCdAzx"><button class="button-1"
                style="background-image: url('/assets/icons/youtube.svg');"></button></a>
        <a href="https://discord.gg/D8D5vCdAzx"><button class="button-1"
                style="background-image: url('/assets/icons/patreon.svg');"></button></a>
        <a href="https://discord.gg/D8D5vCdAzx"><button class="button-1"
                style="background-image: url('/assets/icons/discord.svg');"></button></a>
        <div class="always-on-screen">Nie gwarantujemy jakości, ani zwrotu
            pieniędzy.</div>

        <div class="always-on-screen-1"></div>

        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><button
                class="button-cdwl"></button></a>

        <div class="ramka-szara"> </div>
    </header>


    <!--<div style="   z-index: 3; background-color:#20202b; 
    width: 100%;; background-size: 8vw;">

        <div class="divcut-holder" style=" z-index: 3;">
            <div class="divcut">

                    <h1 style=" color: gray; margin-left: 20vw; ">Samodzielne Studio Projektujące Gry </h1>
                    <br>
                    <h2 style="color: gray;">przedstawiają swój pierwszy największy i najbardziej Ekscytujący,Podniecający,Zajmujący,....</h2>
                    <br>
                    <h3 style="color: gray;">"apetyczny,atrakcyjny,bałamutny,charmant,
                        ciekawy,czarujący,filuterny,frywolny,interesujący,kokieteryjny,kusicielski,kuszący,nęcący,
                        obiecujący,pełen powabu,pociągający,podniecający,ponętny,porywający,
                        powabny,rajcowny,rozbrajający,seksowny,sexy,swawolny,uroczy,urokliwy,
                        uwodzicielski,wabiący,wampowaty,wart grzechu,zabójczy,
                        wspaniały,aktywizacyjny,aktywizujący,dopingujący,
                        dynamizujący,ożywczy,ożywiający,stymulacyjny,stymulujący,
                        uaktywniający,uskrzydlający,charyzmatyczny,mobilizujący,
                        dobry,hipnotyczny,magiczny,niezwykły,przykuwający uwagę,
                        zaczarowany,oszałamiający,cudny,cudowny,estetyczny,
                        genialny,kształtny,kunsztowny,ładny,nadzwyczajny,niebrzydki,
                        nieprzeciętny,oczarowujący,rewelacyjny,satysfakcjonujący,
                        urodziwy,wyjątkowy,zadziwiający,zastanawiający,zdumiewający,"</h3>

                        <br>
                        <h1>znakomity,wzbudzający ekscytację,............. Projekt CDWL </h1>    
                </div>
              
            
        </div>

        <div class="ramka-rzulta"></div>
    </div>

    <div class="highlight-holder">
        <div class="header-holder">
            <div class="text-holder">AKTUALIZACJA NA NOWĄ GENERACJĘ</div>
            <div class="text-holder-2">- XYZ XYZ XYZ XYZ XYZ XYZ XYZ XYZ XYZ XYZ XYZ
                XYZ XYZ XYZ XYZ XYZ XYZ XYZ XYZ XYZ XYZ XYZ XYZ XYZ XYZ XYZ XYZ
            </div>
        </div>
    
    </div>

-->

    <div style="   z-index: 3; background-color:#20202b; 
    width: 100%; background-image:
        url('/assets/img/john.png'); background-size: 8vw;">

        <div class="divcut-holder" style=" z-index: 3;">
            <div class="divcut">
                <div class="divcut-part-1">
                    <div class="divcut-header">
                        <h1 class="divcut-h1 ">Samodzielne Studio Projektujące Gry przedstawiają:</h1>
                        <h2 class="divcut-h2 "> swój pierwszy największy i najbardziej ekscytujący,podniecający,filuterny... PROJEKT CDWL !!1!1!!
                    </div>
                    <div class="divcut-background"></div>
                </div>
                <div class="divcut-part-2">

                    <div class="div-cut-container">

                        <div class="div-cut-window">Jacuś po dwuletnim urlopie w czeczeńskim gułagu ,powraca do rodzinnego miasta, aby dowiedzieć się że jego Soplicowy domek który dostał w spadku
                            został skonsw..skon.skonfi....skonfiskowany przez komornika za nie płacenie podatków, a co więcej,</div>
                        <div class="div-cut-window">z niewyjaśnionych przyczyn
                             władze Wielkiego Trójmiasta wystawiają za Jacusiem list gończy.
                            Jacuś wyrusza w kolejną podróż aby odmienić swój los a na swojej drodze czeka na niego wiele przeszkód i niesamowitych bohaterów.</div>

    
                    </div>
                </div>
            </div>
            
        </div>

        <div class="ramka-rzulta"></div>
    </div>


</div>
<div class="highlight-holder">
    <div class="header-holder">
        <div class="text-holder">AKTUALIZACJA NA NOWĄ GENERACJĘ</div>
        <div class="text-holder-2">DZIĘKI NASZYM TECHNIKĄ NASZA GRA BĘDZIE DOSTĘPNE NAWET NA STARSZE KONSOLE JAK SEGA SATURN!!11!!!
        </div>
    </div>
    <div class="wide-window-holder">
        <div class="window-1" onclick="redirect_func">
            <div class="img-holder">
                <img src="/assets/img/JPII-1.png">
                <div class="window-text-1">NIE REGULUJ MONITORA ,TO PRAWDZIWY
                    PAPIEŻ!!!</div>
                <div class="window-text-2">Wielkie Persony w naszej
                    emocjonującej rozgrywce!!
                    <button class="button-papaj"></button>
                </div>
            </div>
        </div>
        <div class="window-1" onclick="redirect_func">
            <div class="img-holder">
                <img src="/assets/img/JPII-1.png">
                <div class="window-text-1">NEWS z samego centrum Radiowa
                    PAPIEŻ!!!</div>
                <div class="window-text-2">Naukowcy odkryli że Wielki Generał Radiowa nie żyje juz od 120 lat!!! 
                    TO STRASZNE!! sa zdjecia z jego zabójstwa.
                    <button class="button-papaj"></button>
                </div>
            </div>
        </div>
    </div>

</div>


<div style=" background: #000; width: 100%; height:100%;">
    <div class="ramka-czarna"></div>
    <div class="divcut-1">
        <div class="bar-holder">
            <h1 class="mediabar-h1">media</h1>
            <div class="media-bar">
                <button onclick="button1()" class="media-button-1" ;>screenshoty</button>
                <button onclick="button2()" class="media-button-1">video</button>
                <button onclick="button3()" class="media-button-1">arty</button>
                <button onclick="button4()" class="media-button-1">concept arty</button>
            </div>
            <div class="media-container" id="mediacontainer">
                <!---->
                <div class="image-holder">
                    <div class="half-image-holder">
                        <img src="/assets/img/arty/concept-art-3.png">
                    </div>
                    <div class="half-image-holder">
                        <div class="image-matrix">
                            <img src="/assets/img/arty/concept-art-2.gif">
                        </div>
                        <div class="image-matrix">
                            <img src="/assets/img/arty/concept-art-1.gif">
                        </div>
                        <div class="image-matrix">
                            <img src="/assets/img/page-in-work.png">
                        </div>
                        <div class="image-matrix">
                            <img src="/assets/img/page-in-work.png">
                        </div>
                    </div>
                </div>
            </div>
            <!---->
            <div class="help-h1">pomóż nam</div>

            <div class="help">
                <div class="help-section">
                    <div class="help-window-1">
                        <div class="help-window-h1-1">POMÓŻ NAM ROZWIJAĆ NASZ ESKAPISTYCZNY PROJEKT:  </div>
                        <div class="help-window-h2-1">Pomóż nam i jacusiowi przeżyć nam tą zime i wspomagaj nas by rozwijać tą WSPANIAŁĄ gre jaką jest CDWL.
                            MY twórcy umożliwiamy wam konsumentą wspieranie nas "TWÓRCÓW"
                            na różne sposoby, a jeśli nie wiadomo o co chodzi..., to wiadomo że chodzi o pieniądze!!1!11!!  MULTO PIENIĘDZY! A dokładniej to 20 zł, bo tyle koszytuje hawajska, moja ulubiona pizza. </div>
                    </div>
                </div>
                <div class="help-section">
                    <div class="help-window-2">
                        <div class="help-window-dam">
                            <div class="help-window-h2-3">Dołącz do grupy na FB aby powiększyć grono fanów</div>
                        </div>
                            <div class="windows-2-dam"></div>
                    </div>
                    <div class="help-window-3">
                        <div class="help-window-dam">
                            <div class="help-window-h2-3">dołącz na nasz Serwer Discord oraz skontaktuj sie z twórcami, a 
                                jeśli bedziesz chciał damy ci robotę 
                                która pomoże nam skończyć C D W L!!1!1</div>
                                
                        </div>
                        <div class="windows-3-dam"></div>
                    </div>
                </div>
                <div class="help-section">
                    <div class="help-window-5">
                        <div class="help-window-dam">
                            <div class="help-window-h2-3">Obejrz nasze filmy na YouTube polub nasze filmy oraz zasubskrybuj nasz kanał</div>
                        </div>
                        <div class="windows-5-dam"></div>
                    </div>
                    <div class="help-window-4">
                        <div class="help-window-dam">
                            <div class="help-window-h2-3" style="color:#000;">Wesprzyj nas abyśmy mogli posmakować innych rzeczy niż miska ryżu (oraz kontynuować prace nad CDWL)</div>
                        </div>
                        <div class="windows-4-dam"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ramka-rzulta"></div>
</div>

<div class="email">
    <form  method="POST" action="/email" enctype='application/json'>
        <div class="email-text">
            <div class="email-text-h1">bądź na bieżąco!</div>
            <div class="email-text-h2">zapisz się do newslettera CDWL.</div>
        </div>
        <div class="email-form">
            <div class="email-input"><input type="text" name="email" type="text"  required style="width:100%; height:2.8vw;
                    background-color: transparent; border: none; outline: none;  margin-left:1vw;
                     font-size: 2vw; color:#000;"
                 placeholder="Wprowadź Swój adre Email" type="text"></div><br>
                <input type="checkbox"  required id="agree-email" class="checkbox">
            <label for="agree-email" class="agree-email">Chcę otrzymywać wiadomości, specjalne oferty i
            inne informacje od CDWL oraz mam 17 lat lub więcej</label>
            <div class="submit-div">
                <input class="submit-email" type="submit" value="Wyślij">
               </div>
            </div> 
    </form>
</div>

<div>

</div>